body{
    background-image: url("../images/images5.jpeg");
    background-size: cover;
}
#div1{
    border:2px solid blue;
    width:80%;
    margin:auto;
    background-image: url("../images/images1.jpeg");
    border-radius: 10px;
}
p{
    width: 50%;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid red;
}
.pc1{
    padding:5px;

}
.pc{
    padding: 5px;
}
#hr2{
    border-color:red;
}
h3{
    color: red;
    background-color:lavender;
    text-align: center;
    width:50%;
    margin:auto;

}
h4{
    color:orange;
    margin: 10px auto;
    padding: 10px;
    background-color:white;
    width:45%;

}